<pre>{{ getData() }}</pre>

<section class="container mx-auto flex h-96 flex-col justify-between p-5">
  <div
    class="wrapper flex h-full flex-col justify-between rounded-sm border border-black bg-gray-100 p-6"
  >
    <!-- Chat window -->
    <div
      #chatWindow
      class="chatwin mb-2 h-full w-full overflow-x-auto rounded-sm border border-black bg-white p-2 pb-8 shadow shadow-gray-400"
    >
      <div
        *ngFor="let message of this.signalRService.data"
        class="mb-3 flex w-fit flex-row gap-4 rounded-md bg-blue-300 p-2"
      >
        <p class="font-bold">{{ message }}</p>
        <p class="break-all">
          {{ message }}
        </p>
      </div>
    </div>
    <!-- Typing window -->
    <div class="flex flex-row">
      <div class="grow-wrap w-full break-all">
        <textarea
          #messageValue
          (keyup.enter)="sendMessage(messageValue, chatWindow)"
          name="text"
          id="text"
          rows="2"
          placeholder="Send message"
          onInput="this.parentNode.dataset.replicatedValue = this.value"
          class="typewin mr-2 break-all rounded-sm border border-black focus:outline-blue-600"
        ></textarea>
      </div>

      <div>
        <button
          (click)="sendMessage(messageValue, chatWindow)"
          class="rounded-sm bg-blue-900 px-2 py-2 text-white hover:bg-blue-700"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</section>
