<pre>{{ getData() }}</pre>
<pre *ngIf="isLoggedIn">Test</pre>

<section class="container mx-auto flex h-96 flex-col justify-between p-5">
  <div
    class="wrapper flex h-full flex-col justify-between rounded-sm border border-black bg-gray-100 p-6"
  >
    <!-- Chat window -->
    <div
      class="chatwin mb-2 h-full w-full rounded-sm border border-black bg-white p-2 pb-8 shadow shadow-gray-400"
    >
      <p *ngFor="let message of messages">
        {{ message.message }}
      </p>
    </div>
    <!-- Typing window -->
    <div class="flex flex-row">
      <div class="grow-wrap w-full break-all">
        <textarea
          name="text"
          id="text"
          rows="1"
          placeholder="Send message"
          onInput="this.parentNode.dataset.replicatedValue = this.value"
          class="typewin mr-2 break-all rounded-sm border border-black focus:outline-blue-600"
        ></textarea>
      </div>

      <div>
        <button
          class="rounded-sm bg-blue-900 px-2 py-2 text-white hover:bg-blue-700"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</section>
