<footer
  class="absolute bottom-0 flex w-full flex-row justify-around bg-gray-300 p-4 text-black"
>
  <h1>About us</h1>
  <div class="flex flex-col gap-3">
    <p><fa-icon [icon]="faGithub" size="lg"></fa-icon> Follow us on github</p>
    <div class="flex flex-row gap-2">
      <a href="https://github.com/Miconen" target="_blank"
        ><img
          class="w-10 rounded-full"
          src="https://avatars.githubusercontent.com/u/9155442?v=4"
          alt="Miconen profile picture"
      /></a>
      <a href="https://github.com/NikoSoder" target="_blank"
        ><img
          class="w-10 rounded-full"
          src="https://avatars.githubusercontent.com/u/105541058?v=4"
          alt="NikoSoder profile picture"
      /></a>
      <a href="https://github.com/Kiiskii" target="_blank"
        ><img
          class="w-10 rounded-full"
          src="https://avatars.githubusercontent.com/u/112481379?v=4"
          alt="Kiiskii profile picture"
      /></a>
    </div>
  </div>
</footer>
