<div
  class="img-wrapper relative after:absolute after:top-0 after:left-0 after:block after:h-full after:w-full after:bg-gradient-to-b after:from-blue-900 after:to-blue-700 after:opacity-90 dark:after:bg-gradient-to-b dark:after:from-gray-900 dark:after:to-gray-800 dark:after:opacity-90"
>
  <section class="home-content container relative z-10 mx-auto">
    <div
      class="mb-3 flex flex-col items-center justify-center gap-10 px-3 py-10 sm:flex-row"
    >
      <div class="flex flex-col items-center text-center">
        <h2 class="mb-5 text-2xl text-neutral-100 sm:text-4xl">
          Ask or answer questions about
          <span class="font-bold">programming.</span>
        </h2>
        <button
          class="rounded bg-indigo-500 py-3 px-5 text-xl font-medium text-white hover:bg-blue-500"
        >
          Try it for free
        </button>
      </div>
      <div class="block max-w-md">
        <img
          class="max-w-full rounded"
          src="https://www.lighthouselabs.ca/uploads/post/open_graph_image/459/Coding-vs-programming.jpg
          "
          alt="Picture about coding"
        />
      </div>
    </div>
  </section>
</div>
