<nav class="flex items-center justify-between py-3 px-5 shadow">
  <div class="flex items-center space-x-5">
    <h1 class="text-2xl"><a routerLink="home">Chat app</a></h1>
    <ul>
      <li class="text-neutral-600"><a href="#">Content page</a></li>
    </ul>
  </div>

  <div class="flex space-x-4">
    <a routerLink="/login" class="rounded-lg border px-2 py-1">Sign in</a>
    <a
      routerLink="/signup"
      class="rounded-lg bg-teal-700 px-2 py-1 text-white hover:bg-teal-600"
      >Sign up</a
    >
  </div>
</nav>
<router-outlet></router-outlet>
<app-chat></app-chat>
