<section>
  <nav
    class="flex flex-col justify-between gap-4 bg-blue-900 py-3 px-5 text-white sm:flex-row sm:items-center"
  >
    <div class="flex items-center justify-center space-x-5">
      <h1 class="text-2xl"><a routerLink="home">Chat app</a></h1>
      <ul>
        <li class="text-white">
          <a href="#">Content page</a>
        </li>
      </ul>
    </div>

    <div class="flex flex-row justify-center gap-3 sm:gap-0 sm:space-x-4">
      <a routerLink="/login" class="rounded border px-2 py-1">Sign in</a>
      <a
        routerLink="/signup"
        class="rounded bg-indigo-200 px-2 py-1 text-black hover:bg-indigo-100"
        >Sign up</a
      >
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer
    class="absolute bottom-0 flex w-full flex-row justify-around bg-gray-300 p-4 text-black"
  >
    <h1>About us</h1>
    <div class="flex flex-col gap-3">
      <p><fa-icon [icon]="faGithub" size="lg"></fa-icon> Follow us on github</p>
      <div class="flex flex-row gap-2">
        <a href="https://github.com/Miconen" target="_blank"
          ><img
            class="w-10 rounded-full"
            src="https://avatars.githubusercontent.com/u/9155442?v=4"
            alt="Miconen profile picture"
        /></a>
        <a href="https://github.com/NikoSoder" target="_blank"
          ><img
            class="w-10 rounded-full"
            src="https://avatars.githubusercontent.com/u/105541058?v=4"
            alt="NikoSoder profile picture"
        /></a>
        <a href="https://github.com/Kiiskii" target="_blank"
          ><img
            class="w-10 rounded-full"
            src="https://avatars.githubusercontent.com/u/112481379?v=4"
            alt="Kiiskii profile picture"
        /></a>
      </div>
    </div>
  </footer>
</section>
