<div class="container mx-auto mt-5 flex justify-center p-2">
  <div class="max-w-md grow rounded p-4">
    <h2 class="mb-5 text-lg font-medium">Sign in to your account</h2>
    <form>
      <div class="mb-5 flex flex-col">
        <label class="mb-1" for="email">Email</label>
        <input
          class="bg-neutral-100 p-1 shadow"
          type="email"
          id="email"
          placeholder="example@gmail.com"
        />
      </div>
      <div class="mb-5 flex flex-col">
        <label class="mb-1" for="password">Password</label>
        <input
          class="bg-neutral-100 p-1 shadow"
          type="text"
          id="password"
          placeholder="*******"
        />
      </div>
      <div class="mb-5">
        <button
          type="submit"
          class="w-full rounded bg-blue-500 py-2 text-white hover:bg-blue-600"
        >
          Sign in
        </button>
      </div>
      <div class="mb-5">
        <p class="text-neutral-500">
          Don't have an account yet?
          <a routerLink="/signup" class="text-blue-600">Sign up</a>
        </p>
      </div>
    </form>
  </div>
</div>
