<div class="container mx-auto mt-5 p-3 sm:flex sm:justify-center">
  <div class="bg-neutral-200 p-3 sm:w-1/2">
    <h2 class="mb-2 text-lg font-medium">Sign in to your account</h2>
    <form>
      <div class="mb-3 flex flex-col">
        <label class="mb-1" for="email">Email</label>
        <input
          class="p-1"
          type="text"
          id="email"
          placeholder="example@gmail.com"
        />
      </div>
      <div class="mb-3 flex flex-col">
        <label class="mb-1" for="password">Password</label>
        <input class="p-1" type="text" id="password" placeholder="*******" />
      </div>
      <div class="mb-3">
        <button class="w-full rounded-lg bg-blue-500 py-2 text-white">
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
