<section class="container mx-auto mt-5 sm:flex sm:justify-center">
  <form class="signup-info flex flex-col bg-slate-200 p-3 py-5 sm:w-1/2">
    <div class="flex flex-col">
      <label>Name</label>
      <input id="name" class="" />
    </div>
    <div class="flex flex-col">
      <label>Username</label>
      <input id="username" class="" />
    </div>
    <div class="flex flex-col">
      <label>Email</label>
      <input id="email" class="" />
    </div>
    <div class="flex flex-col">
      <label>Password</label>
      <input id="password" class="" />
    </div>
  </form>
</section>
