<div class="container mx-auto mt-8 flex flex-col items-center">
  <figure class="block w-28 rounded-full border-2 border-blue-300 p-1">
    <img
      class="max-w-full rounded-full"
      src="https://i.guim.co.uk/img/media/3aab8a0699616ac94346c05f667b40844e46322f/0_123_5616_3432/master/5616.jpg?width=700&quality=85&auto=format&fit=max&s=a476da702aff265ce6f586be1412b1e1"
      alt="harold"
    />
  </figure>
  <div class="mb-8">
    <h3 class="text-xl">Username here</h3>
  </div>
  <div class="mb-4">
    <h4 class="text-lg">Profile details</h4>
  </div>
  <div>
    <form [formGroup]="saveChangesForm" (ngSubmit)="onSaveChanges()">
      <div class="mb-4 flex flex-col gap-2 sm:flex-row sm:gap-4">
        <label class="grow">Username</label>
        <input
          formControlName="username"
          class="grow bg-neutral-100 p-1 shadow"
          type="text"
          placeholder="Username"
        />
      </div>
      <div class="mb-4 flex flex-col gap-2 sm:flex-row sm:gap-4">
        <label class="grow">Password</label>
        <input
          formControlName="password"
          class="grow bg-neutral-100 p-1 shadow"
          type="password"
          placeholder="Password"
        />
      </div>

      <div>
        <input
          class="w-full cursor-pointer rounded-lg bg-indigo-300 px-2 py-1 text-black hover:bg-indigo-200 disabled:bg-indigo-100"
          type="submit"
          value="Save changes"
          [disabled]="!saveChangesForm.valid"
        />
      </div>
    </form>
  </div>
</div>
